### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Не игнорируем скрипты wrapper, чтобы CI работал
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.properties

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse / STS ###
.classpath
.project
.settings/
.apt_generated
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac ###
.DS_Store

### Логи, временные файлы ###
*.log
